#product-view{
    padding: 100px 0;
}
.product-view__img{
    width: 100%;
    height: 100%;
}
.product-view__info-cont{
    margin-top: 65px;
    padding-inline-start: 25px;
    padding-inline-start: 25px;
}
.product-view__info-name{
    font-size: 24px;
    font-weight: 500;
    color: #222;
    margin-bottom: 20px;
    font-family: 'Roboto-Bold',sans-serif;
}
.product-view__info-price{
    font-family: 'Roboto-Regular',sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: var(--main-web-color);
    margin-bottom: 10px;
}
.product-view__info-features-item{
    margin-bottom: 5px;
}
.product-view__info-feature{
    font-size: 15px;
    font-weight: normal;
    color: #777;
}
.product-view__info-feature-label{
    width: 90px;
    display: inline-block;
}
.product-view__info-desc{
    padding-top: 20px;
    border-top: 1px dotted #eee;
    border-bottom: 1px dotted #eee;
    margin-top: 20px;
    padding-bottom: 26px;
    margin-bottom: 0;
}
.product-view__add-to-cart-container{
    display: flex;
    margin-bottom: 24px;
    align-items: center;
}
.product-view__quantity-cont{
    margin-inline-end: 30px;
    display: flex;
    align-items: center;
}
.product-view__quantity-label{
    font-size: 14px;
    color: #777;
    font-weight: normal;
    padding-inline-end: 10px;
    margin: 0;
}
.product-view__quantity-input{
    width: 60px;
    outline: 0;
}
.product-view__add-to-cart{
    display: inline-block;
    border: 1px solid var(--main-web-color);
    border-radius: 30px;
    color: #222;
    font-weight: 500;
    padding: 12px 50px;
    background-color: var(--main-web-color);
    color: #fff;
    transition: var(--transition-effect);
}
.product-view__add-to-cart:hover{
    background-color:white;
    color: var(--main-web-color);
}
.product-view__info-actions{
    margin-top: 25px;
}
.product-view__info-action-icon{
    width: 20px;
    height: 20px;
}
.product-view__info-action{
    height: 40px;
    width: 40px;
    background-color: #e8f0f2;
    border-radius: 3px;
    color: #222;
    margin-inline-end: 10px;
    outline: 0;
    border: 0;
    transition: var(--transition-effect);
}
.product-view__info-action:hover{
    background-color: white;
    box-shadow:0 10px 20px 0 rgb(153 153 153 / 30%)
}